PyYAML==3.11
backports.ssl-match-hostname==3.4.0.2
certifi==14.05.14
cssselect==0.9.1
futures==2.2.0
gensim==0.10.2
hiredis==0.1.5
lxml==3.4.0
newspaper==0.0.7
nltk==3.0.0
numpy==1.9.0
pycurl==7.19.5
redis==2.10.3
requests==2.4.3
scikit-learn==0.15.2
scipy==0.14.0
six==1.8.0
tornado==4.0.2
wsgiref==0.1.2
